.productGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3rem;
    padding-top: 4rem;
  }
  
  @media screen and (max-width: 768px) {
    .productGrid {
      display: grid;
      grid-template-columns: auto auto;
      grid-row-gap: 3rem;
      padding-top: 4rem;
    }
  }